<mat-card class="login">
  <h1>Bienvenido/a a nuestro Menú Digital</h1>
  <h4>Ingrese su Usuario para realizar el pedido!</h4>
<mat-card class="marco">
<mat-card-title>Iniciar Sesion</mat-card-title>

<form
(ngSubmit)="ingresar()"
[formGroup]="loginForm">
<mat-form-field appearance="outline">
<input matInput class="form-control input-red"
      id="email"
      type="text"
      placeholder="Ingrese su Correo"
      required=""
      formControlName="email"/>
</mat-form-field>
<br>
<mat-form-field appearance="outline">
<input matInput class="form-control"
      id="contraseña"
      type="password"
      placeholder="Ingrese Contraseña"
      required=""
      minlength="5"
      formControlName="contraseña"/>
</mat-form-field>

<button mat-raised-button type="submit" [disabled]="loginForm.invalid">Ingresar</button>

</form>
</mat-card>
</mat-card>

